{
	"presets": ["@babel/env", "@babel/react", "@babel/stage-0"],
	"ignore": [
    "**/__tests__"
  ],
  "env": {
    "test": {
		  "presets": ["env", "react", "stage-0"],
      "plugins": ["transform-decorators-legacy"]
    }
  }
}
